.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3rem;
}

.logo {
  width: 4rem;
}

.header > div > ul {
  display: flex;
  column-gap: 2rem;
}

.header > div > ul > li {
  list-style-type: none;
}

.foodCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foodList {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.shimmer-container {
  display: flex;
  margin: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}
